.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App * {
  max-width: 60%;
  border: 1px solid black;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TODO: remove **/
.temp-images {
  height: 200px;
}