.CreatureItem img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 0 0 10px 10px;
}

.CreatureItem {
  justify-content: space-between;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  margin: 1rem;
  border-radius: 10px;
}